@use 'var' as *;
@use 'theme/dialog' as *;
p {
    font-size: 15px;
    font-weight: 500;
    color: $gry;
    &.mb {
        margin-bottom: 30px;
    }
}
.filter__header {
    height: 52px;
    width: calc(100% + 48px);
    margin: -24px 0 10px -24px;
    display: flex;
    align-items: center;
    color: #FFF;
    background-color: #e02342;
    padding:0 15px;
    justify-content:center;
  }
  .mat-dialog-content{
      padding-top:5px;
      padding-bottom:10px;
  }
  .filter__title {
    font-size: 19px;
    font-weight: 500;
  }
  
  .mat-checkbox{
    display: block;
    width:100%;
    padding-top:10px;
    font-weight: 700;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  :host ::ng-deep {
  .mat-dialog-title{
    margin:10px 0 0!important;
  }
  .mat-radio-label-content{
    font-weight:700;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #e02342;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
    background-color: #e02342;
  }
}