.search_filter .mat-form-field-suffix .mat-icon {
    color: #333 !important;
}

.search-btn {
    min-width: 37px;
}

.mat-form-field {
    font-size: 15px;
}

:host ::ng-deep {
    .search_filter{
        .mat-icon-button{
            height: 2.5em!important;
        }
    }
    .mat-form-field {
        margin-bottom: 0;
    }
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}