// @use 'var' as *;
// @use 'theme/dialog' as *;
// p {
//     font-size: 15px;
//     font-weight: 500;
//     color: grey;
//     &.mb {
//         margin-bottom: 30px;
//     }
// }
// .filter__header {
//     height: 46px;
//     width: calc(100% + 48px);
//     margin: -24px 0 10px -24px;
//     display: flex;
//     align-items: center;
//     color: #FFF;
//     background-color: #bfd730;
//     padding:0 15px;
//     justify-content:center;
//     border-top-right-radius: 4px;
//     border-top-left-radius: 4px;
//   }
//   .mat-dialog-content{
//       padding-top:25px;
//   }
//   .filter__title {
//     font-size: 19px;
//     font-weight: 500;
//   }
  

.filter__title {
    font-size: 20px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}
.inner_text {
    text-align: center;
    color: #000;
    
    opacity: .6;
}
mat-dialog-actions{
    margin: 20px 0 -7px 0;
}