<div class="form-wrap">
    <p>Reset Password?</p>
    <h2>Don’t worry! Resetting your password is easy. Choose your new password and hit reset. </h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Reset Password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>{{getControl('password') | validate:'password'}}</mat-error>
        </mat-form-field>

        <div class="center">
            <button type="submit" class="fullwidth" color="primary" mat-flat-button>Reset Password</button>
        </div>
        <div class="center mt20">
            <button type="button" [routerLink]="'LOGIN'|absolutePath" class="fullwidth" color="primary" mat-stroked-button>BACK TO LOGIN</button>
        </div>
        <p class="center mb0"><a class="link">Contact Support</a></p>
    </form>
</div>