
._shadowImage {
  font-family: object-fit\: cover;
  -o-object-fit: cover;
  object-fit: cover;
  //   position: absolute;
  max-width: 100%;
  // height: auto;
  left: 0;
  cursor: zoom-in;
}
.i3x_3P {
  // background-color: #c8e4e2;
  //   position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.asyncImage {
  filter: blur(2px);
}
// hr{
//     border: 1px solid $defaultColor ;
// }

// }
// .mat-card + .mat-card {
//     margin: 0px;
// }
