
<div class="card_wrapper">
  <div class="card-body">
    <div class="page-not-found">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 offset-sm-1">
            <img class="gif_icon" src="assets/images/pageerror.gif" alt="">
          </div>
          <div class="col-sm-6">
            <h1> 404 </h1>
            <h3> Page not Found </h3>
            <h4> Oops, We can't seem to find the page you're looking for.... </h4>
            <button type="button" color="primary" mat-stroked-button [routerLink]="['/']">Back to Home</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>