<!-- <div class="form-wrap">
    <p>Forgotten Password?</p>
    <h2>Don’t worry! Resetting your password is easy. Just type in the email you registered with. </h2>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" >
        <mat-form-field appearance="outline">
            <input formControlName="email" matInput placeholder="Email address" autocomplete="off">
            <mat-error> {{getControl('email')|validate:'email'}}</mat-error>
        </mat-form-field>
        <div class="center">
            <button type="submit" class="fullwidth" color="primary" mat-flat-button>Send</button>
        </div>
        <div class="center mt20">
            <button type="button" [routerLink]="'LOGIN'|absolutePath" class="fullwidth" color="primary" mat-stroked-button>BACK TO LOGIN</button>
        </div>
    </form>
</div> -->

<div class="inner_page_Wrapper">
    <div class="inner_wrapper">
        <h3 class="title">
            Forgot Password?    
        </h3>
        <p class="sub_title">
            Please enter your registered email address, <br> we will send you a reset link
        </p>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" >
        <div class="form_wrapper">
            <div class="form_group">
                <mat-label>Email ID</mat-label>
                <mat-form-field appearance="outline">
                    <input formControlName="email" matInput placeholder="Email Address" autocomplete="off">
                    <mat-error> {{getControl('email')|validate:'email'}}</mat-error>
                </mat-form-field>
            </div>

            <button class="btn_primary" type=""> 
                Submit
            </button>
            <a [routerLink]="'LOGIN'|absolutePath" class="link">Back to login</a>
        </div>
    </form>
    </div>
</div>  