// @import 'app.scss';

::ng-deep {
  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    // padding: 1rem 1rem;
    padding: 1rem 2rem;    //change
    margin-top:0;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
    background: #fff !important;
    cursor: pointer;
    li {
      outline: none;
    }
    .breadcrumb-item {
      cursor: pointer;
      + .breadcrumb-item {
        &::before {
          display: inline-block;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          color: #868e96;
          content: '/';
        }
      }
      &.active {
        cursor: text;
        color: #868e96;
        cursor: text;
      }
      a {
        text-decoration: none;
        font-size: 17px;
        color: rgb(0, 140, 255);
        cursor: pointer;
        &:hover {
          color: rgb(0, 140, 255);
        }
      }
    }
  }
}
