<div class="flex-header">
    <div class="flex-left"><h3>Average Rating <span class="star-rating">3.5 *</span></h3></div>
    <div class="flex-right"><button type="button" mat-flat-button color="primary">View All</button></div>
</div>
<div class="workout-review">
    <div class="review-left">
        <figure>
            <img src="assets/images/image_placeholder.jpg" alt="Image"/>
        </figure>
        <h4>Rosa D.</h4>
        <div class="start-list">
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
        </div>
    </div>
    <div class="review-right">
        <h3>“Amazing"</h3>
        <p>I booked a meeting room and my experience was very amazing. I will choose DeskNow fo my future
            meetings.I booked a meeting room and my experience was very amazing. I will choose DeskNow fo my
            future meetings.I booked a meeting room and my experience was very amazing. I will choose DeskNow fo
            my future meetings. I booked a meeting room and my experience was very amazing. I will choose DeskNow
            fo my future meetings.I booked a meeting room and my experience was very amazing.</p>
    </div>
</div>
<div class="workout-review">
    <div class="review-left">
        <figure>
            <img src="assets/images/image_placeholder.jpg" alt="Image"/>
        </figure>
        <h4>Rosa D.</h4>
        <div class="start-list">
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
        </div>
    </div>
    <div class="review-right">
        <h3>“Amazing"</h3>
        <p>I booked a meeting room and my experience was very amazing. I will choose DeskNow fo my future
            meetings.I booked a meeting room and my experience was very amazing. I will choose DeskNow fo my
            future meetings.I booked a meeting room and my experience was very amazing. I will choose DeskNow fo
            my future meetings. I booked a meeting room and my experience was very amazing. I will choose DeskNow
            fo my future meetings.I booked a meeting room and my experience was very amazing.</p>
    </div>
</div>
<div class="workout-review">
    <div class="review-left">
        <figure>
            <img src="assets/images/image_placeholder.jpg" alt="Image"/>
        </figure>
        <h4>Rosa D.</h4>
        <div class="start-list">
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
        </div>
    </div>
    <div class="review-right">
        <h3>“Amazing"</h3>
        <p>I booked a meeting room and my experience was very amazing. I will choose DeskNow fo my future
            meetings.I booked a meeting room and my experience was very amazing. I will choose DeskNow fo my
            future meetings.I booked a meeting room and my experience was very amazing. I will choose DeskNow fo
            my future meetings. I booked a meeting room and my experience was very amazing. I will choose DeskNow
            fo my future meetings.I booked a meeting room and my experience was very amazing.</p>
    </div>
</div>
<div class="workout-review">
    <div class="review-left">
        <figure>
            <img src="assets/images/image_placeholder.jpg" alt="Image"/>
        </figure>
        <h4>Rosa D.</h4>
        <div class="start-list">
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
        </div>
    </div>
    <div class="review-right">
        <h3>“Amazing"</h3>
        <p>I booked a meeting room and my experience was very amazing. I will choose DeskNow fo my future
            meetings.I booked a meeting room and my experience was very amazing. I will choose DeskNow fo my
            future meetings.I booked a meeting room and my experience was very amazing. I will choose DeskNow fo
            my future meetings. I booked a meeting room and my experience was very amazing. I will choose DeskNow
            fo my future meetings.I booked a meeting room and my experience was very amazing.</p>
    </div>
</div>
<div class="workout-review">
    <div class="review-left">
        <figure>
            <img src="assets/images/image_placeholder.jpg" alt="Image"/>
        </figure>
        <h4>Rosa D.</h4>
        <div class="start-list">
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
            <span><mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon></span>
        </div>
    </div>
    <div class="review-right">
        <h3>“Amazing"</h3>
        <p>I booked a meeting room and my experience was very amazing. I will choose DeskNow fo my future
            meetings.I booked a meeting room and my experience was very amazing. I will choose DeskNow fo my
            future meetings.I booked a meeting room and my experience was very amazing. I will choose DeskNow fo
            my future meetings. I booked a meeting room and my experience was very amazing. I will choose DeskNow
            fo my future meetings.I booked a meeting room and my experience was very amazing.</p>
    </div>
</div>